/*Globals*/

html {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  line-height: 1.4;
}

.para {
  font-family: "Ariel", sans-serif;
  font-size: 35px;
  border-width: 3px;
  margin-bottom: 10px;
}

.input-text {
  height: 200px;
  font-family: "Ariel", sans-serif;
  font-weight: bolder;
  font-size-adjust: 50%;
  font-size: 50px;
}

#text-typed {
  font-family: "Ariel", sans-serif;
  font-size: 50px;
  border: solid 5px;
  border-width: 3px;
  margin: 45px 0px;
  padding: 1px 0px 1px 1px;
}
